.product{
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.product-card{
    height: 260px;
    width: 200px;
    padding: 5px;
    box-sizing: border-box;
}

.product-image{
    height: 200px;
    width: 200px;
}

.one{
    width: 900px;
    text-align: justify;
}

